## Step 1 - Scraping

### NASA Mars News

In [4]:
# Dependencies
from bs4 import BeautifulSoup
from splinter import Browser
#import requests

# Retrieve page with the splinter module
executable_path = {'executable_path': 'C:/Users/navba/Downloads/chromedriver_win32/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [204]:
# URL of Mars site
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

In [210]:
# Retrieve page with the splinter module
executable_path = {'executable_path': 'C:/Users/navba/Downloads/chromedriver_win32/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

browser.visit(url)
#html = requests.get(url)

# Create BeautifulSoup object; parse with 'html.parser'
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

# Examine the results, then determine element that contains sought info
results = soup.find_all('li', class_='slide')

In [211]:
#print(results)
news_title = results[0].find('div', class_ = 'content_title').text
print(news_title)
print() 

news_p = results[0].find('div', class_ = 'article_teaser_body').text
print(news_p)

Bound for Mars: Countdown to First Interplanetary Launch from California

On May 5, millions of Californians may witness the historic first interplanetary launch from America’s West Coast.

### JPL Mars Space Imaages - Featured Image

In [232]:
executable_path = {'executable_path': 'C:/Users/navba/Downloads/chromedriver_win32/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# URL of Mars site
jpl_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

# Visit browser and click the links 
browser.visit(jpl_url)
browser.click_link_by_partial_text('FULL IMAGE')
browser.is_text_present('more info', wait_time=5)
browser.click_link_by_partial_text('more info')

In [233]:
# Create BeautifulSoup object; parse with 'html.parser'
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [234]:
# Set variable for image link from BeatifulSoup object
image_results = soup.find('figure', class_='lede')
featured_image_url = image_results.find('img')['src']

In [235]:
# Obtain the url for the full featured image
print(featured_image_url)

featured_image_url = "https://www.jpl.nasa.gov" + featured_image_url
print(featured_image_url)

/spaceimages/images/largesize/PIA16217_hires.jpg
https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16217_hires.jpg

### Mars Weather

In [239]:
executable_path = {'executable_path': 'C:/Users/navba/Downloads/chromedriver_win32/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# URL of Mars site
weather_url = "https://twitter.com/marswxreport?lang=en"

# Visit browser and click the links 
browser.visit(weather_url)

# Create BeautifulSoup object; parse with 'html.parser'
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

# Examine the results, then determine element that contains sought info
weather_results = soup.find_all('div', class_='stream')

mars_weather = weather_results[0].find('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(mars_weather)

Sol 2024 (April 16, 2018), Sunny, high -7C/19F, low -76C/-104F, pressure at 7.20 hPa, daylight 05:26-17:21

### Mars Facts

In [5]:
# Visit the Mars Facts page and scrape the table data into Pandas
facts_url = "https://space-facts.com/mars/"
browser.visit(facts_url)

In [9]:

import pandas as pd
html_data = pd.read_html(facts_url)
mars_facts_df = pd.DataFrame(html_data[0])
mars_facts_df.columns = ["Mars", "Data"]
mars_facts_df = mars_facts_df.set_index("Mars")

mars_facts_df.head()

                                               Data
Mars
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)

In [13]:
# Use Pandas to convert the data to a HTML table string
marsdata = mars_facts_df.to_html(classes='marsdata')
marsdata=marsdata.replace('\n', ' ')
marsdata

'<table border="1" class="dataframe marsdata">   <thead>     <tr style="text-align: right;">       <th></th>       <th>Data</th>     </tr>     <tr>       <th>Mars</th>       <th></th>     </tr>   </thead>   <tbody>     <tr>       <th>Equatorial Diameter:</th>       <td>6,792 km</td>     </tr>     <tr>       <th>Polar Diameter:</th>       <td>6,752 km</td>     </tr>     <tr>       <th>Mass:</th>       <td>6.42 x 10^23 kg (10.7% Earth)</td>     </tr>     <tr>       <th>Moons:</th>       <td>2 (Phobos &amp; Deimos)</td>     </tr>     <tr>       <th>Orbit Distance:</th>       <td>227,943,824 km (1.52 AU)</td>     </tr>     <tr>       <th>Orbit Period:</th>       <td>687 days (1.9 years)</td>     </tr>     <tr>       <th>Surface Temperature:</th>       <td>-153 to 20 °C</td>     </tr>     <tr>       <th>First Record:</th>       <td>2nd millennium BC</td>     </tr>     <tr>       <th>Recorded By:</th>       <td>Egyptian astronomers</td>     </tr>   </tbody> </table>'